.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}

/* Tables */
.tables {
  display: grid;
  grid-template-columns: repeat(2, 35vw);
  grid-auto-rows: 35vw;
  grid-gap: 2rem;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border-style: none;
  box-shadow: 2px 2px 10px black;
  background-color: green;
  color: white;
  font-size: 1.25rem;
}

.footer {
  background-color: lightgray;
  color: gray;
  border-radius: 0.5rem 0.5rem 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  box-shadow: 0px -2px 10px;
}

@media (orientation: landscape) {
  .tables {
    grid-template-columns: repeat(4, 35vh);
    grid-auto-rows: 35vh;
  }
}
